<h1>ユーザー編集ページ</h1>

<% @user.errors.full_messages.each do |message| %>
  <%= message %>
<% end %>

<%= form_tag("/users/#{@user.id}/update") do %>
<P>ユーザー名</P>
<input name="name" value="<%= @user.name %>">
<p>メールアドレス</p>
<input name="email" value="<%= @user.email %>">
<input type="submit" value="保存">
<% end %>