<!--<head>-->
<!--  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />-->
<!--</head>-->


<div class="jumbotron jumbotron-fullheight jumbo-vertical-center text-light text-center bg-dark mb-0 radius-0 ht-tm-jumbotron">
  <div class="container">
    <div class="ht-tm-header">
      <h1 class="display-2 text-light text-uppercase">Let's play COD</h1>
      <span class="lead lead-lg">Find your friends and play with them</span>
      <div class="mt-4">
        <a href="#" class="btn btn-danger btn-lg m-2 btn-wide js-ht-download-link" data-type="theme" data-id="94">Sign Up</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="example col-md-10 ml-auto mr-auto">
    <div class="row">
     <div class="col-md-4 mt-4">
       <div class="h-caption">
         <h4><i class=" fas fa-shield-alt fa-3x fa-flip-horizontal faa-pulse animated "></i><br>Reliability</h4>
       </div>
     </div>
     <div class="col-md-4 mt-4">
       <div class="h-caption">
         <h4><i class=" fas fa-street-view fa-3x fa-flip-horizontal faa-pulse animated "></i><br>Found</h4>
       </div>
     </div>
     <div class="col-md-4 mt-4">
       <div class="h-caption">
         <h4><i class=" fas fa-gamepad fa-3x fa-flip-horizontal faa-pulse animated "></i><br>Enjoy</h4>
       </div>
     </div>
    </div>
  </div>
</div>


<footer>
	<div class="container">
		<div class="row">
  		<div class="col-md-6 mt-5 offset-md-2">
  			<p>Copyright © 2020, Call of Duty. Design:</p>
  		</div>
		</div>
	</div>
</footer>




