<h1>編集ページ</h1>

<%= form_tag("/posts/#{@post.id}/update") do %>

  <% @post.errors.full_messages.each do |message| %>
    <%= message%>
  <% end %>
<!--投稿に失敗したらエラーを表示する-->
<textarea name="content"><%= @post.content %></textarea>
<input type="submit" value="保存">
<% end %>