* {
  margin: 0px;
  padding: 0px;
}

.body-container {
  background-image: url(image_3.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: Georgia, serif;
}

h1 {
  font-size: 45px;
  color: white;
  margin-top: 50px;
  margin-bottom: 60px;
}

.input-group {
  margin-top: 20px;
  
}

.input-group-addon {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  color: white;
}

.form-control {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 22px;
  height: 40px;
  padding: 19px;
}

input[type="checkbox"] {
  margin-top: 20px;
  height: 15px;
  width: 15px;
}

small {
  font-size: 18px;
  color: #fff;
  margin-left: 8px;
}

p {
  margin-top: 20px;
  font-size: 19px;
  color: #fff;
}

.btn-danger {
  margin-top: 20px;
  width: 560px;
  font-size: 18px;
  background: #d83473;
}

.btn-primary {
  float: left;
  font-size: 19px;
  width: 280pxpx;
}

.btn-info {
  float:left;
  margin-right: 40px;
  font-size: 19px;
  width: 210px;
}

// ここまでログイン、新規登録ページ



.posts-index-item {
  width: 100%;
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
}

.post-user-name a {
  font-weight: 600;
}

.post-user-name a:hover {
  color: #3ecdc6;
}

.post-left {
  float: left;
  width: 10%;
}

.post-right {
  float: left;
  width: 90%;
  padding-left: 25px;
  text-align: left;
  word-break: break-all;
  // 改行する
}

.post-right p {
  color: black;
  font-size: 15px;
}


// ここまで投稿一覧、ユーザー一覧ページ

.users-show {
  background-image: url(image_4.jpg);
}

.profile-text {
  font-size: 35px;

}

.profile-contents {
  font-size: 20px;
  float: right;
}

.container-new h1 {
  background-color: red;
}
.row-new h1 {
  background-color: blue;
}

.textlines {
  border: 2px solid #0a0;
  border-radius: 0.67em;
  padding: 1em;
  background-color: snow;
  width: 100%;
  box-sizing: border-box;
  height: 120px
}



.errors-text {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #dc143c;
}

.new-submit {
  margin: 20px;
  padding: 5px;
  border-radius: 30px;
  border-color: #0a0;
  letter-spacing: 0.5em
}

.h-caption {
  text-align: center;
}