* {
  margin: 0px;
  padding: 0px;
}

// body {
//   background-image: url(image_3.jpg);
//   background-size: cover;
//   background-attachment: fixed;
//   font-family: Georgia, serif;
  
// }

h1 {
  font-size: 45px;
  color: white;
  margin-top: 50px;
  margin-bottom: 60px;
}

.input-group {
  margin-top: 20px;
  
}

.input-group-addon {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  color: white;
}

.form-control {
  background: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  font-size: 22px;
  height: 40px;
  padding: 19px;
}

input[type="checkbox"] {
  margin-top: 20px;
  height: 15px;
  width: 15px;
}

small {
  font-size: 18px;
  color: #fff;
  margin-left: 8px;
}

p {
  margin-top: 20px;
  font-size: 19px;
  color: #fff;
}

.btn-danger {
  margin-top: 20px;
  width: 560px;
  font-size: 18px;
  background: #d83473;
}

.btn-primary {
  margin-left: 40px;
  font-size: 19px;
  width: 210px;
}

.btn-info {
  margin-left: 40px;
  font-size: 19px;
  width: 210px;
}

// ここまでログイン、新規登録ページ

p {
  color: black;
}

